.uinn-ca2{
	padding:1.2em 0 1em 0;
}
.b-gra-ae{
	border-color:#aeaeae;
}
.reader-back{
	background-image:url('myImg/back.png');
}
.reader-base{
	min-height: 1em; 
	min-width: 1.2em;
	margin:0.5em 0 0.5em 0;
}